/*
    *********************************************************************************************************
    cityEHR
    cityEHRSkin.css
    
    Cascading style sheet for cityEHR user interface
    **********************************************************************************************************
*/

/*
Additional or modified CSS styles for the application go here.
These override rules in the system sylesheet
*/

